/*Styles for Site 1*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    width: 940px;
    margin: 40px auto;
}

#banner {
    height: 400px;
    background: beige;
}

main {
    float: left;
    width: 580px;
    padding-top: 20px;  
}

aside {
    float: right;
    width: 340px;
    padding-top: 25px;
}

img {
    margin-bottom: 10px;
}

fieldset {
    background-color: rgba(245, 245, 220, 0.829);
    padding: 15px;
    margin: 10px 0;
}

form {
    width: 400px;
}

form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input {
    display: block;
}

span {
    display: block;
}

.red {
    color: red;
}

.italic {
    font-style: italic;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

button {
    margin: 10px 0;
}

footer {
    width: 940px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    clear: both;
    background-color: rgba(169, 169, 169, .5);
    border-top: 1px black ridge;
}

footer li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}





h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

h3 {
    /* margin-bottom: 20px; */
}

p {
    margin-bottom: 10px;
}





































